<div class="p-4 grid grid-cols-3 gap-4">
    <div class="relative col-span-3 xl:col-span-1">
        @if (loadingMicrocontroller()) {
            <spinner />
        }

        <div class="flex gap-2 justify-between">
            <mat-form-field>
                <mat-label>{{ 'config-generator.label.initial-date' | translate }}</mat-label>
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="config.initDateTime">
                <mat-datepicker #datepicker/>
                <mat-datepicker-toggle [for]="datepicker" matSuffix/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'config-generator.label.initial-time' | translate }}</mat-label>
                <input matInput
                    [matTimepicker]="timepicker"
                    [(ngModel)]="config.initDateTime"
                    [ngModelOptions]="{ updateOn: 'blur' }">
                <mat-timepicker #timepicker/>
                <mat-timepicker-toggle [for]="timepicker" matSuffix/>
            </mat-form-field>
        </div>

        <mat-form-field class="w-full">
            <mat-label>WiFi SSID</mat-label>
            <input matInput [(ngModel)]="config.ssid">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{ 'common.label.wifi-password' | translate }}</mat-label>
            <input matInput [(ngModel)]="config.wifiPassword">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.wifi-privacy-mode' | translate }}</mat-label>
            <mat-select [(value)]="config.wifiPrivacyMode">
                <mat-option value="0">{{ 'common.label.none' | translate }}</mat-option>
                <mat-option value="1">WEP</mat-option>
                <mat-option value="2">WPA Personal</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.server-address' | translate }}</mat-label>
            <input matInput placeholder="https://server.com, http://127.0.0.1" [(ngModel)]="config.serverAddress">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.server-port' | translate }}</mat-label>
            <input matInput placeholder="5000" [(ngModel)]="config.serverPort">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.sd-write-period' | translate }}</mat-label>
            <input matInput [(ngModel)]="config.sdWritePeriodSeconds">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.send-data-period' | translate }}</mat-label>
            <input matInput [(ngModel)]="config.transmitPeriodSeconds">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.microcontroller-id' | translate }}</mat-label>
            <input matInput placeholder="97944fd1-0dd5-481b-bcfd-5039ff376584" [(ngModel)]="config.microcontrollerId">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{ 'config-generator.label.microcontroller-key' | translate }}</mat-label>
            <input matInput [(ngModel)]="config.microcontrollerKey">
        </mat-form-field>
        <div class="flex gap-4">
            <mat-form-field class="w-full">
                <mat-label>{{ 'config-generator.label.microcontroller-sensor-id' | translate }}</mat-label>
                @if (avialableMicrocontrollerSensors().length > 0) {
                    <input
                        #inputSensorId
                        type="text"
                        matInput
                        placeholder="97944fd1-0dd5-481b-bcfd-5039ff376584"
                        [(ngModel)]="selectedMicrocontrollerSensorId"
                        [matAutocomplete]="auto"
                        (input)="filter()"
                        (focus)="filter()">
                    <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayFn">
                        @for (option of filteredOptions; track option.id) {
                            <mat-option [value]="option">{{ option.name }}</mat-option>
                        }
                    </mat-autocomplete>
                }
                @else {
                    <input matInput
                        placeholder="97944fd1-0dd5-481b-bcfd-5039ff376584"
                        [(ngModel)]="selectedMicrocontrollerSensorId">
                }
            </mat-form-field>
            <button mat-mini-fab class="!shadow-none mt-2" (click)="onAddSensor()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-list>
            @for (microcontrollerSensorId of config.microcontrollerSensors; track microcontrollerSensorId) {
                <mat-list-item>
                    <div matListItemTitle>{{ microcontrollerSensorId }}</div>

                    @let microcontrollerSensor = getAvialableMicrocontrollerSensor(microcontrollerSensorId);

                    @if (microcontrollerSensor) {
                        <div matListItemLine>{{ microcontrollerSensor!.name }}</div>
                    }

                    <div matListItemMeta>
                        <button mat-icon-button class="!shadow-none" (click)="onDeleteSensor(microcontrollerSensorId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            }
        </mat-list>
    </div>
    <div class="col-span-3 xl:col-span-2">
        <mat-card id="public-microcontrollers-table-card" appearance="outlined">
            <mat-card-content class="h-full">
                <div #configurationText>
                    <div>Date={{ config.initDateTime.getDate() }};</div>
                    <div>Month={{ config.initDateTime.getMonth() }};</div>
                    <div>Year={{ config.initDateTime.getFullYear() }};</div>
                    <div>WeekDay={{ config.initDateTime.getDay() }};</div>
                    <div>Hours={{ config.initDateTime.getHours() }};</div>
                    <div>Minutes={{ config.initDateTime.getMinutes() }};</div>
                    <div>Seconds={{ config.initDateTime.getSeconds() }};</div>
                    <br />
                    <div>Ssid={{ config.ssid }};</div>
                    <div>SecurityKey={{ config.wifiPassword }};</div>
                    <div>PrivateMode={{ config.wifiPrivacyMode }};</div>
                    <br />
                    <div>writeSDIntervalSeconds={{ config.sdWritePeriodSeconds }};</div>
                    <div>transmitIntervalSeconds={{ config.transmitPeriodSeconds }};</div>
                    <br />
                    <div>Ip={{ config.serverAddress }};</div>
                    <div>Port={{ config.serverPort }};</div>
                    <div>Protocol={{ config.serverCommunicationProtocol }};</div>
                    <br />
                    <div>MicrocontrollerId={{ config.microcontrollerId }};</div>
                    <div>MicrocontrollerKey={{ config.microcontrollerKey }};</div>
                    <div>MicrocontrollerSensorIds={{ config.microcontrollerSensors.join(',') }};</div>
                </div>
                <div class="absolute top-4 right-4 flex gap-2">
                    <button mat-mini-fab class="!shadow-none" (click)="onCopy()">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <button mat-mini-fab class="!shadow-none" (click)="onDownload()">
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>