<div [class]="isSelectionEnabled() ? '' : 'h-screen p-4'">
    <mat-card class="h-full" appearance="outlined">
        <mat-card-content class="h-full !flex flex-col">
            <div class="w-full flex gap-4">
                <mat-form-field class="flex-grow">
                    <mat-label>{{ 'common.label.filter' | translate }}</mat-label>
                    <input matInput [(ngModel)]="searchString"
                        (ngModelChange)="loadSensors()"
                        placeholder="{{ 'common.placeholder.filter' | translate }}" />
                </mat-form-field>

                @if (authService.isAdmin && !isSelectionEnabled()) {
                    <button mat-flat-button class="h-full mt-3" (click)="onCreateType()">
                        {{ 'sensors-table.label.create-sensor' | translate }}
                    </button>
                }
            </div>
            <div class="overflow-auto flex-grow relative">
                <spinner [class]="[isTableLoading() ? '' : 'hidden']" />

                <table mat-table [dataSource]="dataSource()" matSort (matSortChange)="sortData($event)" style="background-color: inherit">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection().toggle(row.id) : null"
                                            [checked]="selection().isSelected(row.id)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="icon">
                        <th mat-header-cell *matHeaderCellDef>{{ 'sensors-table.table-header.icon' | translate }}</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="w-full h-full flex items-center justify-center">
                                @if (element.type.icon) {
                                    <img style="width: 24px; height: 24px;" [src]="element.type.icon">
                                }
                                @else {
                                    <span>{{ null | emptyPlaceholder }}</span>
                                }
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="Name">{{ 'sensors-table.table-header.name' | translate }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>{{ 'sensors-table.table-header.type' | translate }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.type.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="units">
                        <th mat-header-cell *matHeaderCellDef>{{ 'sensors-table.table-header.units' | translate }}</th>
                        <td mat-cell *matCellDef="let element">{{ element.type.units | emptyPlaceholder }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <mat-paginator
                [length]="totalSensorTypes()"
                [pageIndex]="pageNumber"
                [pageSize]="pageSize"
                [pageSizeOptions]="[10, 30, 50]"
                (page)="onPageChanged($event.pageIndex, $event.pageSize)"
                showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>

<style scoped>
.mat-mdc-table-sticky {
  background: var(--mat-sys-surface-container-highest) !important;
  opacity: 1;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--mat-sys-surface-container-low);
  cursor: var(--sensor-table-admin-pointer, default);
}

.mat-column-select {
  width: 32px;
  padding-right: 24px;
}

.mat-column-icon {
  width: 32px;
  padding-right: 24px;
}

.mat-column-units {
  width: 64px;
  padding-right: 24px;
}
</style>