<div class="flex flex-col">
    <div class="flex justify-around items-start flex-col xl:flex-row">
        <mat-form-field class="w-full xl:w-auto">
            <mat-label>{{ 'data-chart.label.choose-period' | translate }}</mat-label>
            <mat-select [(value)]="period" (valueChange)="getData()" [disabled]="isLoadingData()">
                <mat-option value="Day">{{ 'common.label.day' | translate }}</mat-option>
                <mat-option value="Month">{{ 'common.label.month' | translate }}</mat-option>
                <mat-option value="Year">{{ 'common.label.year' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full xl:w-auto">
            <mat-label>{{ 'data-chart.label.choose-watching-date' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-flat-button
            [disabled]="isLoadingData()"
            class="mt-2 mb-4 w-full xl:w-auto"
            (click)="addWatchingDate()">
            {{ 'data-chart.label.add-watching-date' | translate }}
        </button>
    </div>

    @if (watchingDates().length > 0) {
        <mat-chip-set>
            @for (watchingDate of watchingDates(); track watchingDate) {
                <mat-chip-option (removed)="removeWatchingDate(watchingDate)">
                    {{ watchingDate.toDateString() }}
                    <button matChipRemove [disabled]="isLoadingData()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            }
        </mat-chip-set>
    }

    <div class="relative">
        <spinner [class]="[isLoadingData() ? '' : 'hidden']" />
        <apx-chart
            [series]="chartData()"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [stroke]="chartOptions.stroke!"
            [tooltip]="chartOptions.tooltip!"
            [dataLabels]="chartOptions.dataLabels!"
            [annotations]="annotations() ?? {}"
        ></apx-chart>
    </div>
</div>

