<form (ngSubmit)="save()">
  <mat-dialog-content>
    <p class="mb-4 text-justify">
      {{ 'edit-threshold.label.prompt' | translate }}
    </p>
    <mat-form-field class="w-full">
      <mat-label>{{ 'edit-threshold.label.threshold' | translate }}</mat-label>
      <input matInput
        [disabled]="isBusy()"
        [formControl]="threshold"
        (blur)="updateErrorMessage()">
      @if (errorMessage()) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()" type="button" [disabled]="isBusy()">
      {{ 'common.button.cancel' | translate }}
    </button>
    <button mat-button cdkFocusInitial type="submit" [disabled]="isBusy()">
      <span class="flex items-center gap-4">
        @if (isBusy()) {
          <mat-spinner [diameter]="15" />
        }
        <span>{{ 'common.button.ok' | translate }}</span>
      </span>
    </button>
  </mat-dialog-actions>
</form>