#map-content-container {
    --map-content-container-padding: 0.5rem;
    padding: var(--map-content-container-padding);

    height: 100%;
    --map-content-height: calc(100vh - var(--map-content-container-padding) * 2);
    --map-card-height: calc(var(--map-content-height) * 0.35);
    --public-microcontrollers-table-card-content-height: calc(var(--map-content-height) - var(--map-card-height) - 1rem);
}

#map-card {
    height: var(--map-card-height);

    overflow: hidden;
}

#public-microcontrollers-table-card {
    height: var(--public-microcontrollers-table-card-content-height);
    margin-top: 1rem;

    background-color: var(--mat-sys-surface-container-lowest);
}

#table-container {
    overflow: auto;
    height: calc(var(--public-microcontrollers-table-card-content-height) - 2rem - 4.75rem - 3.5rem);

    // for spinner
    position: relative;
}

.mat-mdc-table-sticky {
  background: var(--mat-sys-surface-container-highest) !important;
  opacity: 1;
}