<form (ngSubmit)="onSave()">
  <h2 mat-dialog-title>{{ 'edit-sensor-type.label.title' | translate }}</h2>
  <mat-dialog-content class="w-full">
      <div class="flex flex-col">
          <div class="flex justify-between items-center mb-4">
              <div>
                  <button type="button" mat-raised-button (click)="fileInput.click()">
                    {{ 'edit-sensor-type.button.choose-icon' | translate }}
                  </button>
                  <input hidden (change)="encodeImageFileAsURL($event)" #fileInput type="file" id="file" accept="image/png, image/jpeg" >
                  @if (errorMessage()['icon']?.message) {
                    <div class="px-4 pt-2" style="color: var(--mat-sys-error); font-size: var(--mat-sys-body-small-size)">
                      {{ errorMessage()['icon']!.message }}
                    </div>
                  }
              </div>

              <div class="border-2 p-4">
                  <img style="width: 32px; height: 32px;" [src]="icon.value">
              </div>
          </div>

          <mat-form-field>
            <mat-label>{{ 'edit-sensor-type.label.name' | translate }}</mat-label>
            <input matInput
              [formControl]="name"
              (blur)="updateErrorMessage()" />
            @if (errorMessage()['name']?.message) {
                <mat-error>{{ errorMessage()['name']!.message }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'edit-sensor-type.label.units' | translate }}</mat-label>
            <input matInput
              [formControl]="units"
              (blur)="updateErrorMessage()" />
            @if (errorMessage()['units']?.message) {
                <mat-error>{{ errorMessage()['units']!.message }}</mat-error>
            }
          </mat-form-field>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions class="!justify-between">
      @if (data) {
          <button mat-stroked-button type="button" class="!text-red-700" (click)="onDelete()" [disabled]="isBusy()">
              <span class="flex items-center gap-4">
                @if (isBusy()) {
                  <mat-spinner [diameter]="15" />
                }
                <span>{{ 'common.button.delete' | translate }}</span>
              </span>
          </button>
      }
      @else {
          <span></span>
      }
      <div>
          <button mat-button type="button" (click)="onCancel()" [disabled]="isBusy()">
              <span class="flex items-center gap-4">
                @if (isBusy()) {
                  <mat-spinner [diameter]="15" />
                }
                <span>{{ 'common.button.cancel' | translate }}</span>
              </span>
          </button>
          <button mat-button type="submit" cdkFocusInitial
              [disabled]="isBusy()">
              <span class="flex items-center gap-4">
                @if (isBusy()) {
                  <mat-spinner [diameter]="15" />
                }
                <span>{{ 'common.button.save' | translate }}</span>
              </span>
          </button>
      </div>
  </mat-dialog-actions>
</form>
