<form class="p-4 flex flex-col gap-8" (ngSubmit)="onSave()">
    <div>
        <mat-card style="height: 300px;" class="overflow-hidden" appearance="outlined">
            <mat-card-content class="h-full !p-0">
                <map [(zoom)]="mapZoom"
                    [(center)]="mapCenter"
                    (leafletDoubleClick)="mapDoubleClick($event)"
                    [microcontrollerAdded]="addMicrocontroller.asObservable()"
                    [flyToTarget]="flyToTarget.asObservable()">
                </map>
            </mat-card-content>
        </mat-card>
        <div class="p-2 text-gray-500">{{ 'edit-microcontroller.label.double-click-map-hint' | translate }}</div>
    </div>

    <div class="flex flex-col gap-2">
        <spinner [class]="[isFetching() ? '' : 'hidden']" />

        <mat-form-field class="w-full">
            <mat-label>{{ 'edit-microcontroller.label.name' | translate }}</mat-label>
            <input matInput
                [formControl]="name"
                (blur)="updateErrorMessage()">
            @if (errorMessage()['name']?.message) {
                <mat-error>{{ errorMessage()['name']!.message }}</mat-error>
            }
        </mat-form-field>

        <mat-slide-toggle class="mb-5"
            [formControl]="isPublic"
            (blur)="updateErrorMessage()">
            {{ 'edit-microcontroller.label.public-hint' | translate }}
            @if (errorMessage()['isPublic']?.message) {
                <mat-error>{{ errorMessage()['isPublic']!.message }}</mat-error>
            }
        </mat-slide-toggle>

        <mat-form-field class="w-full">
            <mat-label>{{ 'edit-microcontroller.label.latitude' | translate }}</mat-label>
            <input matInput (change)="onLatLngChange()"
                [formControl]="lat"
                (blur)="updateErrorMessage()">
            @if (errorMessage()['lat']?.message) {
                <mat-error>{{ errorMessage()['lat']!.message }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{ 'edit-microcontroller.label.longitude' | translate }}</mat-label>
            <input matInput (change)="onLatLngChange()"
                [formControl]="lng"
                (blur)="updateErrorMessage()">
            @if (errorMessage()['lng']?.message) {
                <mat-error>{{ errorMessage()['lng']!.message }}</mat-error>
            }
        </mat-form-field>

        <div class="w-full flex gap-4 justify-between">
            <mat-form-field class="flex-grow">
                <mat-label>{{ 'edit-microcontroller.label.key' | translate }}</mat-label>
                <input matInput
                    [formControl]="key"
                    (blur)="updateErrorMessage()">
                @if (errorMessage()['key']?.message) {
                    <mat-error>{{ errorMessage()['key']!.message }}</mat-error>
                }
                <mat-hint>{{ 'edit-microcontroller.label.key-hint' | translate }}</mat-hint>
            </mat-form-field>
            <button mat-flat-button class="mt-2" type="button" (click)="onGenerate()">
                {{ 'edit-microcontroller.button.generate' | translate }}
            </button>
        </div>
    </div>

    <div class="flex-grow">
        <sensor-table [isSelectionEnabled]="true" [selection]="selectedSensors" />
        @if (errorMessage()['sensors']?.message) {
            <mat-hint style="font-size: var(--mat-sys-body-small-size);" class="pl-4 text-red-700">
                {{ errorMessage()['sensors']!.message }}
            </mat-hint>
        }
    </div>

    <button mat-flat-button size="large"
        type="submit"
        [disabled]="isSaving() || isFetching()">
        <span class="flex items-center gap-4">
            @if (isSaving()) {
                <mat-spinner [diameter]="15" />
            }
            <span>{{ 'common.button.save' | translate }}</span>
        </span>
    </button>
</form>