<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened>
    <nav class="h-full flex flex-col justify-between">
      <div>
        <div class="flex justify-center mt-6">
          <a id="title" routerLink="/">
            <span>S</span>
            <span>E</span>
            <span>N</span>
            <span>S</span>
            <span>O</span>
            <span>R</span>
            <span>S</span>
            <span>_</span>
            <span>S</span>
            <span>Y</span>
            <span>S</span>
            <span>T</span>
            <span>E</span>
            <span>M</span>
          </a>
        </div>
        <mat-nav-list class="!p-2 !mt-2">
          @for (item of navbarLinks; track item.url) {
            <a mat-list-item
              class="mt-2"
              routerLinkActive="active"
              [routerLink]="item.url"
              [routerLinkActiveOptions]="{ exact: true }">{{ item.title }}</a>
          }
        </mat-nav-list>
      </div>
      <div class="p-2">
        <button mat-stroked-button class="w-full">Log in</button>
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="h-full">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>