<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" [opened]="!screenSizeWatcher.isSmallScreen()">
    <nav class="h-full flex flex-col justify-between">
      <div>
        <div class="flex justify-center mt-6">
          <gss-title />
        </div>
        <mat-nav-list class="!p-2 !pt-4 !mt-2">
          <a mat-list-item
            class="my-2"
            routerLinkActive="active"
            routerLink="/map"
            [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.button.map' | translate }}</a>

          <a mat-list-item
            class="my-2"
            routerLinkActive="active"
            routerLink="/configuration-generator"
            [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.button.config-generator' | translate }}</a>

          @if (authService.isLoggedIn()) {
            <mat-divider class="!border-stone-400" />

            <a mat-list-item
              class="my-2"
              routerLinkActive="active"
              [routerLink]="'user-microcontrollers/' + authService.userId"
              [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.button.my-microcontrollers' | translate }}</a>

            <a mat-list-item
              class="my-2"
              routerLinkActive="active"
              routerLink="/sensors"
              [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.button.sensors' | translate }}</a>

            @if (authService.isAdmin) {
              <a mat-list-item
                class="my-2"
                routerLinkActive="active"
                routerLink="/sensor-types"
                [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.button.sensor-types' | translate }}</a>
            }
          }
        </mat-nav-list>
      </div>
      <div class="p-2">
        <mat-form-field class="w-full">
          <mat-label>{{ 'common.label.language' | translate }}</mat-label>
          <mat-select [(value)]="currentLocale">
            <mat-option value="en">English</mat-option>
            <mat-option value="ru">Русский</mat-option>
          </mat-select>
        </mat-form-field>

        @if (authService.isLoggedIn()) {
          <div class="font-semibold text-lg mb-2 mx-2">{{ 'navbar.label.user-greetings' | translate:{firstName} }}</div>
          <mat-divider class="!border-stone-400" />
          <button mat-stroked-button class="w-full mt-4" (click)="onLogout()">{{ 'navbar.button.log-out' | translate }}</button>
        }
        @else {
          <button mat-stroked-button class="w-full flex items-center gap-2"
            (click)="authService.login()"
            [disabled]="authService.isAuthOperationInProgress()">
            <span class="flex items-center gap-4">
              @if (authService.isAuthOperationInProgress()) {
                <mat-spinner [diameter]="15" />
              }
              <span>{{ 'navbar.button.log-in-register' | translate }}</span>
            </span>
          </button>
        }
      </div>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (screenSizeWatcher.isSmallScreen()) {
      <nav class="top-nav-bar drop-shadow-md">
        <div class="pb-1">
          <gss-title />
        </div>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="!flex">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-menu #menu="matMenu" class="app-menu">
            @if (authService.isLoggedIn()) {
              <div mat-menu-item disabled class="!opacity-100" style="background-color: var(--mat-sys-surface-bright);">
                <span class="text-lg">{{ 'navbar.label.user-greetings' | translate:{firstName} }}</span>
              </div>
            }

            <button mat-menu-item [matMenuTriggerFor]="languages">
              {{ 'common.label.language' | translate }}
            </button>

            <a mat-menu-item routerLink="/map">
              {{ 'navbar.button.map' | translate }}
            </a>
            <a mat-menu-item routerLink="/configuration-generator">
              {{ 'navbar.button.config-generator' | translate }}
            </a>

            @if (authService.isLoggedIn()) {
              <a mat-menu-item [routerLink]="'user-microcontrollers/' + authService.userId">
                {{ 'navbar.button.my-microcontrollers' | translate }}
              </a>
              <a mat-menu-item routerLink="/sensors">
                {{ 'navbar.button.sensors' | translate }}
              </a>

              @if (authService.isAdmin) {
                <a mat-menu-item routerLink="/sensor-types">
                  {{ 'navbar.button.sensor-types' | translate }}
                </a>
              }

              <button mat-menu-item (click)="onLogout()" class="!text-red-900">
                {{ 'navbar.button.log-out' | translate }}
              </button>
            }
            @else {
              <button mat-menu-item (click)="authService.login()"
                [disabled]="authService.isAuthOperationInProgress()">
                <span class="flex items-center gap-4">
                  @if (authService.isAuthOperationInProgress()) {
                    <mat-spinner [diameter]="15" />
                  }
                  <span>{{ 'navbar.button.log-in-register' | translate }}</span>
                </span>
              </button>
            }
          </mat-menu>

          <mat-menu #languages="matMenu">
            <button mat-menu-item (click)="changeLanguage('en')">English</button>
            <button mat-menu-item (click)="changeLanguage('ru')">Русский</button>
          </mat-menu>
        </div>
      </nav>
    }

    <main class="h-full relative z-0 overflow-auto">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>